---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="frick-button-container">
    <button type="button" id="frick-button">
      <span class="frick-button-text">frick</span>
    </button>
    <!-- Filepath is set in index.js -->
    <audio id="frick-sound" src=""></audio>
    <div id="frick-spans-container">
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
      <span class="frick-span">frick</span>
    </div>
  </main>
  <script>
    /**
     * An array of valid filepath names to audio files.
     * @type {string[]}
     */
    const validFrickSoundFilepaths = Object.freeze([
      "./fricks/sam.mp3",
      "./fricks/alice.m4a",
    ]);

    document
      .getElementById("frick-button")
      .addEventListener("click", function () {
        const spans = document.getElementsByClassName("frick-span");
        const audio = document.getElementById("frick-sound");
        const index = Math.floor(
          Math.random() * validFrickSoundFilepaths.length
        );
        audio.src = validFrickSoundFilepaths[index];
        audio.play();

        // Scatter each span
        for (let i = 0; i < spans.length; i++) {
          const span = spans[i];

          // Generate random angle and distance from the center
          const angle = Math.random() * 2 * Math.PI;
          const distance = Math.floor(Math.random() * (1001 - 400) + 400); // Adjust the distance as needed

          // Calculate the new position for the span
          const positiveNegativeX = Math.random() < 0.5 ? -1 : 1;
          const positiveNegativeY = Math.random() < 0.5 ? -1 : 1;
          const x = Math.cos(angle) * distance * positiveNegativeX; // Shoot left or right randomly
          const y = Math.sin(angle) * distance * positiveNegativeY;

          const spanKeyFrames = [
            /* Start full opacity */
            { opacity: "1", transform: "translate(0px, 0px) rotate(0deg)" },
            {
              opacity: "0",
              transform: `translate(${x}px, ${y}px) rotate(360deg)`,
            },
          ];

          const spanTiming = {
            duration: 1000,
            direction: "normal",
          };

          span.animate(spanKeyFrames, spanTiming);
        }
      });
  </script>
</Layout>

<style>
  .frick-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #frick-button {
    padding: 20px 80px;
    border-radius: 24px;
    background-color: white;
    border: none;
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease-in-out;
  }
  #frick-button:hover {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
  }
  .frick-button-text {
    font-size: 22vw;
    /* Set the background color */
    background: linear-gradient(to bottom, #c57eff 0%, #0a0d20 100%);
    /* Mask the color to the text, and remove the rest  */
    -webkit-background-clip: text;
    background-clip: text;
    /* Make the text fill color value transparent so the masked background color comes through */
    -webkit-text-fill-color: transparent;
  }

  #frick-spans-container {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
  }
  .frick-span {
    opacity: 0;
    position: absolute;
  }
</style>
