---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro." num={2}>
  <main>
    <h2>Lore</h2>
    <p>
      There was a fricking frick, named Joel, who lived near Fricker street.
    </p>
  </main>
</Layout>
