---
import Modal from "../components/Modal.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="frick - lore" num={2}>
  <main>
    <Modal header="Lore">
      <p>
        There was a fricking frick, named Joel, who lived near Fricker street.
      </p>
    </Modal>
  </main>
</Layout>
