---
export interface Props {
  header: string;
}

const { header } = Astro.props;
---

<div class="apple-modal">
  <div class="apple-modal__header">
    <div class="traffic-lights focus">
      <button class="traffic-light traffic-light-close" id="close">
        <svg
          width="7"
          height="7"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke="#000"
            stroke-width="1.2"
            stroke-linecap="round"
            d="M1.182 5.99L5.99 1.182M5.99 6.132L1.182 1.323"></path>
        </svg></button
      >
      <button class="traffic-light traffic-light-minimize" id="minimize">
        <svg
          width="7"
          height="2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke="#000"
            stroke-width="1.2"
            stroke-linecap="round"
            d="M.61.703h5.8"></path>
        </svg></button
      >
      <button class="traffic-light traffic-light-maximize" id="maximize">
        <svg
          width="8"
          height="7"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke="#000"
            stroke-width="1.2"
            stroke-linecap="round"
            d="M1.1 3.4h5.8M3.9 6.4V.6"></path>
        </svg>
      </button>
    </div>
    <h1>{header}</h1>
    <div></div>
  </div>
  <div class="apple-modal__content-sidebar">
    <div class="sidebar"></div>
    <div class="content">
      <slot />
    </div>
  </div>
  <div class="apple-modal__footer"></div>
</div>

<style>
  .apple-modal {
    margin: 40px 20px;
    border-radius: 8px;
  }

  .apple-modal__header {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    flex-direction: row;
    background-color: #ababab;
    justify-content: space-between;
    padding: 4px 8px 8px 8px;
    align-items: flex-start;
  }
  h1 {
    margin: 0;
  }

  .apple-modal__content-sidebar {
    display: flex;
    background: white;
    padding: 0px 16px 0px 0px;
  }
  .apple-modal__content-sidebar > *:nth-child(1) {
    flex: 1 1 14%;
  }
  .apple-modal__content-sidebar > *:nth-child(2) {
    flex: 1 1 86%;
  }
  .sidebar {
    background-color: #d6dde5;
  }
  .content {
    padding: 16px 32px 32px 32px;
  }
  .apple-modal__footer {
    height: 16px;
    background-color: #ababab;
    padding: 4px 8px 8px 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  /* traffic light logic*/
  .traffic-lights {
    top: 1px;
    left: 8px;
  }
  .traffic-lights.focus > .traffic-light-close,
  .traffic-lights:hover > .traffic-light-close,
  .traffic-lights:active > .traffic-light-close {
    background-color: #ff6159;
  }
  .traffic-lights.focus > .traffic-light-close:active:hover,
  .traffic-lights:hover > .traffic-light-close:active:hover,
  .traffic-lights:active > .traffic-light-close:active:hover {
    background-color: #bf4942;
  }
  .traffic-lights.focus > .traffic-light-minimize,
  .traffic-lights:hover > .traffic-light-minimize,
  .traffic-lights:active > .traffic-light-minimize {
    background-color: #ffbd2e;
  }
  .traffic-lights.focus > .traffic-light-minimize:active:hover,
  .traffic-lights:hover > .traffic-light-minimize:active:hover,
  .traffic-lights:active > .traffic-light-minimize:active:hover {
    background-color: #bf8e22;
  }
  .traffic-lights.focus > .traffic-light-maximize,
  .traffic-lights:hover > .traffic-light-maximize,
  .traffic-lights:active > .traffic-light-maximize {
    background-color: #28c941;
  }
  .traffic-lights.focus > .traffic-light-maximize:active:hover,
  .traffic-lights:hover > .traffic-light-maximize:active:hover,
  .traffic-lights:active > .traffic-light-maximize:active:hover {
    background-color: #1d9730;
  }
  .traffic-lights:hover > .traffic-light:before,
  .traffic-lights:hover > .traffic-light:after,
  .traffic-lights:hover > .traffic-light svg,
  .traffic-lights:active > .traffic-light:before,
  .traffic-lights:active > .traffic-light:after,
  .traffic-lights:active > .traffic-light svg {
    visibility: visible;
  }

  .traffic-light {
    border-radius: 100%;
    padding: 0;
    height: 12px;
    width: 12px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: 8px;
    margin-right: 5px;
    background-color: #ddd;
    position: relative;
    outline: none;
  }
  .traffic-light > svg {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    visibility: hidden;
  }
  .traffic-light-close svg path {
    stroke: #740000bf;
  }
  .traffic-light-close:active:hover svg path {
    stroke: #190000;
  }
  .traffic-light-minimize svg {
    transform: translate(-50%, -30%);
  }
  .traffic-light-minimize svg > path {
    stroke: #740000bf;
  }
  .traffic-light-minimize:active:hover svg path {
    stroke: #190000;
  }
  .traffic-light-maximize svg path {
    stroke: #006500;
  }
  .traffic-light-maximize:active:hover svg path {
    stroke: #003200;
  }
  /* end traffic light logic */
</style>
