---
export interface Props {
  num: number;
}

const { num } = Astro.props;
---
<style>
  .frick-nav-outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .frick-nav {
    height: 76px;
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
  .frick-nav__middle {
    background: rgba(51, 51, 51, 0.23);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 8px 16px;
    border-radius: 16px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
      0 0 0 1px rgba(0, 0, 0, 0.35);
  }
  .frick-nav_item0,
  .frick-nav_item1,
  .frick-nav_item2 {
    position: relative;
  }
  .frick-nav_item0::after,
  .frick-nav_item1::after,
  .frick-nav_item2::after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    content: "";
    bottom: -5px;
    right: 50%;
  }

  .frick-nav__sep-container {
    height: 50px;
    position: relative;
  }
  .frick-nav__sep {
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    height: 50px;
  }
</style>

<div class="frick-nav-outer">
  <nav class="frick-nav">
    <div class="frick-nav__middle">
      <a class={num == 0 ? "frick-nav_item0" : ""} href="/">
        <img width={50} src="/pepelaugh.png" alt="pepelaugh nav button" />
      </a>
      <div class="frick-nav__sep-container">
        <div class="frick-nav__sep"></div>
      </div>
      <a class={num == 1 ? "frick-nav_item1" : ""} href="/hof">
        <img width={49} src="/kekw-1.png" alt="kekw nav button" />
      </a>
      <a class={num == 2 ? "frick-nav_item2" : ""} href="/lore">
        <img width={37} src="/yojoel.png" alt="yojoel nav button" />
      </a>
    </div>
  </nav>
</div>
